body {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto;
    color: #000;
}


.link_active {
    text-decoration: none;
}

.list-item__no_bullet {
    list-style: none;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0 , 0, 0.5);
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.header {
    display: flex;
    align-items: center;
    padding: 96px 51px 96px 49px;    
}

.header__links {
    font-size: 18px;
    margin-right: 209px;
}

.header__links-list
{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item
{
    text-transform: lowercase;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px; 
}

.address {
    font-size: 18px;
    line-height: 24px;
    margin-left: 355px;
}

.address__line {
    white-space: nowrap;
}

.address__link {
    display: block;
}
      
.cover {
    background-image: url(../images/cover.jpg);
    background-position: 0px -20px;
    background-size: 100%;
    width: 1440px;
    height: 757px; 
}

.cover__title {
    display: block;
    padding: 165px 50px 130px 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: 30px;    
}


.cover__description  {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 0px 50px 62px 422px;
}

.cover__description-text  {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 20px;
    word-spacing: 17px;
}

.bet-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-family: Raleway;
    border: 1px solid #fff;
    background-color: transparent;
    /*
    background: none repeat scroll 0 0 transparent;
    */
    padding: 12px 32px;
}

.lots {

}

.footer {

}