body {
    max-width: 1440px;
    margin: 0 auto;
    color: #000;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
}


.link_active {
    text-decoration: none;
}

.list-item__no_bullet {
    list-style: none;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 , 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.header {
    display: grid;
    grid-template-columns: 44.5% 37.5% auto;
    place-items: center start;
    align-items: center;
    padding: 92px 50px 96px 50px;
}

.header__links {
    min-width: 388px;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 18px;
    text-transform: lowercase;
    list-style: circle;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    padding: 4px;
}

.address {
    font-size: 18px;
    line-height: 135%;
}

.address__line {
    white-space: nowrap;
}

.address__link {
    display: block;
}
      
.cover {
    width: 1440px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-position: 0px -20px;
    background-size: 100%;
    position: relative;
    z-index: 10;
}

.cover__title {
    display: block;
    padding: 165px 50px 135px 50px;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    line-height: 114%;
    letter-spacing: 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 30;
}

.cover__extended-line-height {
    line-height: 130%;
}

.cover__description {
    display: flex;
    align-items: center;
    gap: 78px;
    padding: 0px 50px 62px 422px;
    position: relative;
    z-index: 30;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    word-spacing: 17.5px;
}

.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    padding: 180px 50px 0 50px;
}

.lots__heading {
    padding-left: 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 27px;
    list-style: none;
}

.lots__card-item {
    position: relative;
    width: 430px;
    height: 450px;
}

.card-link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
    background-size: 100%;
    position: relative;
    z-index: 10;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
    z-index: 30;
}

.card__text {
    line-height: 120%;
    position: relative;
    z-index: 30;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    text-transform: lowercase;
}

.about {
    display: grid;
    grid-template-columns: 430px auto;
    padding: 182px 50px 0 50px;
}

.about__logo {
    grid-column: 1;
    place-self: start center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    padding: 63px 48px;
    background-color: #000;
}

.about__text-wrapper {
    grid-column: 2;
    padding-left: 25px;
}

.about__title {
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    margin-bottom: 25px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 180px 50px 90px 50px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__menu-list-item {
    font-size: 18px;
    text-transform: lowercase;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    min-width: 240px;
    list-style: none;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
}

.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}